@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&family=Roboto:wght@300&display=swap');
.food-img{
    width:120px;
    height: 120px;
    border-radius: 60px;
    margin-top: -50px;
}
.category-font{
    font-family: 'Chivo Mono', monospace;
}

.food-card{
    height: 220px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.delete-btn{
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}
.edit-btn{
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}
.delete-btn:hover{
    background-color: red;
    color: aliceblue;
}
.edit-btn:hover{
    background-color: blue;
    color: aliceblue;
}