.cart-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-name {
    display: flex;
    gap: 1em;
    align-items: center;
}

.cart-item img {
    width: 4em;
    height: 4em;
}

.quantity {
    display: flex;
    gap: 1em;
    align-items: center;
}

.quantity input {
    width: 2em;
    text-align: center; 
}