.cart-item {
    width: 40em;
    padding: 10px 20px;
    border: 2px solid crimson;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    display: flex;
    gap: 1em;
    align-items: center;
}

.cart-item img {
    width: 4em;
    height: 4em;
}

.quantity {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.quantity button {
    border: none;
    background: transparent;
    color: crimson;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price {
    font-size: large;
}