.cart-item {
    width: 40em;
    padding: 10px 20px;
    border: 1px solid crimson;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    width: 10em;
    display: flex;
    gap: 1em;
    align-items: center;
}

.cart-item img {
    width: 4em;
    height: 4em;
    border-radius: 10px;
    
}

.quantity {
    padding: 4px 7px;
    display: flex;
    gap: 0.5em;
    align-items: center;
    transition: 0.5s;
}

.quantity:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.quantity button {
    border: none;
    background: transparent;
    color: crimson;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price {
    font-size: large;
    width: 5em;
}