.order {
    width: 70em;
    padding: 10px 20px;
    border: 1px solid crimson;
    border-radius: 10px;
}

.name-user {

}

.name-user img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}