.order {
    margin: 1em 4em;
    width: 70em;
    padding: 10px 20px;
    /* border: 1px solid crimson; */
    border: none;
    border-radius: 10px;
}

.info-container {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-user {
    width: 20em;
    gap: 0.5em;
    align-items: center;
}

.name-user img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total {
    font-size: large;
    font-weight: 600;
}

.address {
    font-size: large;
}

.accept {
    padding: .5em 1.5em;
    border: none;
    border-radius: 10px;
    background-color: rgb(220,53,69);
    color: white;
    font-size: large;
    transition: 0.2s;
}

.accept:hover {
    transform: scale(1.1);
}

.accept:active {
    filter: brightness(85%);
}

.deliver{
    padding: .5em 1.5em;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: large;
    transition: 0.2s;
}

.deliver:hover{
    transform: scale(1.1);
}
.deliver:active{
    filter: brightness(85%);
}

.item-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toggle-container {
    margin-right: 4em;
    width: 100%;
    text-align: right;
}

.toggle-button {
    margin-right: 0.3em;
    border: none;
    background: none;
    color: rgb(220,53,69);
}