.order {
    margin: 1em 4em;
    width: 70em;
    padding: 10px 20px;
    border: 1px solid crimson;
    border-radius: 10px;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-user {
    width: 10em;
    display: flex;
    gap: 1em;
    align-items: center;
}

.name-user img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}