.categories {
    width: 270px;
    padding: 50px;
    position: sticky;
    top: 0;
}

.flex-column {
    color: black;
    display: flex;
    gap: 1em;
}

.link {
    color: black;
    transform: 0.1s;
}

.link:hover {
    font-weight: 600;
    color: orangered;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}