.categories-container {
    /* max-width: 240px; */
    padding: 10px;
    position: sticky;
    top: 70px;
}

.categories {
    width: 240px;
    margin-top: 25px;
}

.flex-column {
    color: black;
    display: flex;
    gap: 1em;
}

.link {
    color: black;
    transform: 0.1s;
}

.link:hover {
    font-weight: 600;
    color: orangered;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}