.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.nav-link{
    height: 50px;
}
.nav-link:hover{
    border-bottom: 1px solid white;
}
.material-symbols-outlined {
    color:white;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
  
}
@media only screen and (max-width: 990px){
    .nav-container{
        width:52px;
        margin:0px auto;
    }
}