.payment-box{
    background-color: rgb(251, 251, 251)
}
.deliveryDetails,.personalDetails,.payment-container{
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color:white;
}