.payment-container{
    min-height: 100vh;
    background-color: rgb(251, 251, 251)
}
.deliveryDetails{
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color:white;
}